.music-icon {
    padding-right: 10px;
    transition: transform 0.2s ease-in-out;
}

.music-icon:hover {
    transform: scale(1.2);
}

.jumbotron h1 {
    animation: pop-out 1s ease-out forwards;
}

@keyframes pop-out {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}

.jumbotron h1 {
    animation: pop-out 1s ease-out forwards, jiggle 0.5s ease-in-out 0.5s infinite alternate;
}

@keyframes jiggle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.border {
    border-width: 8px;
    border-color: #333;
}

.terminal-style {
    font-family: monospace;
    font-size: 25px;
    color: #0ff;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.gif-container {
    padding-bottom: 100px;
}

#videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.section-title {
    font-size: 36px;
    margin-top: 50px;
    animation: jiggle 2s ease-in-out infinite;
}

@keyframes jiggle {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-10px, 10px);
    }
    20% {
        transform: translate(10px, -10px);
    }
    30% {
        transform: translate(-10px, 10px);
    }
    40% {
        transform: translate(0, 0);
    }
}

footer {
    padding-top: 50px;
}

.logo img {
    position: absolute;
    width: 150px;
    height: 150px;
    animation: fall 1s ease-in-out forwards;
}

.logo .logo1 {
    left: 10%;
}

.logo .logo2 {
    left: 25%;
}

.logo .logo3 {
    left: 40%;
}

.logo .logo4 {
    left: 55%;
}

.logo .logo5 {
    left: 70%;
}

@keyframes fall {
    0% {
        top: -150px;
    }
    100% {
        top: calc(100% - 150px);
    }
}

.section-title {
    text-align: center;
    font-size: 3em;
    transition: all 3s;
}

.section-title:hover {
    transform: scale(0.5);
    opacity: 0.5;
}

#intrests {
    padding-bottom: 150px;
}

.footericon {
    /* make all the icon center under the tittle and horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    /* make the icon bigger */
    font-size: 3em;
    /* make the icon have a space between each other */
    margin: 0 10px;
    /* make the icon have a space between the tittle and the icon */
    padding: 10px;
    /*make all the icon in a horizontal*/
    flex-direction: row;
    /* make the icon have a transition */
    transition: all 0.3s;
}

.svgicon {
    /* make the icon have a transition */
    transition: all 0.3s;
    width: 93px;
    height: 96px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-container,
.front,
.back {
    width: 90px;
    height: 90px;
    border: 0;
}

.card {
    border: 0;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

#contactBackground {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}